html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-modal-content {
  background-color: #262626 !important;
}

.ant-modal-title {
  background-color: #262626 !important;
  color: white !important;
}

.ant-modal-close-x {
  background-color: #262626 !important;
  color: white !important;
}

@media (max-width: 768px) {
  .ant-card-body {
    padding: 10px; 
  }
  
  .ant-card-head-title {
    font-size: 16px;
  }
  
  .ant-card-meta-title,
  .ant-card-meta-description {
    font-size: 14px; 
  }
  
  .ant-card-meta-detail {
    flex-direction: column; 
  }
}